name: SAP Community profile URL requester

# What the execution context is:
# The assignment of a label to an issue or pull request indicating
# that the contribution was valuable.

# What it does:
# Adds a comment to the issue or pull request asking the author for
# their SAP Community profile URL ('community ID').

# Why we need it:
# So that we can properly recognize the contribution in SAP Community.

# What's important to know:
# The label is specified at the start of the 'community-id-requester'
# job as an environment variable LABEL, and also in the job-level condition.
# Also, it adds a comment only after the first time the label is added.

on:
  pull_request_target:
    types: [labeled]
  issues:
    types: [labeled]


jobs:

  community-id-requester:

    env:
      LABEL: "contribution"
    runs-on: ubuntu-20.04
    if: github.event.label.name == 'contribution'

    steps:

      - id: auth_gh
        name: Authenticate gh to repo
        run: echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token

      - id: clean_clone
        name: Clean working area and clone repo
        run: |
          rm -rf ${{ github.event.repository.name }}
          gh repo clone ${{ github.repository }}

      - id: issue_details
        name: Determine related details if issue
        if: github.event_name == 'issues'
        run: |
          echo "OBJECTTYPE=issue" >> $GITHUB_ENV
          echo "OBJECTNR=${{ github.event.issue.number }}" >> $GITHUB_ENV
          echo "CONTRIBUTOR=${{ github.event.issue.user.login }}" >> $GITHUB_ENV

      - id: pull_request_details
        name: Determine related details if pull request
        if: github.event_name == 'pull_request_target'
        run: |
          echo "OBJECTTYPE=pr" >> $GITHUB_ENV
          echo "OBJECTNR=${{ github.event.pull_request.number }}" >> $GITHUB_ENV
          echo "CONTRIBUTOR=${{ github.event.pull_request.user.login }}" >> $GITHUB_ENV

      - id: count_label_additions
        name: Count number of times label has been added
        run: |
          endpoint="repos/${{ github.repository }}/issues/$OBJECTNR/events"
          count=$(gh api --jq "[.[]|(select(.event==\"labeled\" and .label.name==\"$LABEL\"))] | length" $endpoint)
          echo "LABELADDITIONCOUNT=$count" >> $GITHUB_ENV

      - id: requester
        name: Ask for SAP Community profile URL if label added for first time
        if: env.LABELADDITIONCOUNT == 1
        working-directory: ${{ github.event.repository.name }}
        run: |
          printf "Thank you for your valuable contribution, @${CONTRIBUTOR}! So that we can [recognize your contribution in SAP Community](https://github.com/SAP-docs/contribution-guidelines/blob/main/docs/recognition.md), please tell us your SAP Community profile URL in a reply to this comment; don't include any other text, just the URL on its own, like this:\n\n\`\`\`\nhttps://people.sap.com/your-user-id\n\`\`\`\n\nThanks!" \
          | gh $OBJECTTYPE comment $OBJECTNR --body-file -
